*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-title: 'Montserrat', sans-serif;
    --ff-paragraph: 'DM Sans', sans-serif;
    --ff-message: 'Dancing Script', cursive;

    --font-color-tt-paragraph:#34355B;
}

body{
    display: grid;
    place-content: center;

    min-height: 100vh;

    background: linear-gradient(45deg, #190361, #BB00FF);
}

main{
    width: 428px;
    height: auto;

    background-color:  #FFFFFF;

    padding: 48px 64px 64px;
    border-radius: 5px;   
}

.box-front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 312px;
    width: 300px;

    color: var(--font-color-tt-paragraph);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    
}

.box-front h1{
    font-family: var(--ff-title);
    text-align: center;
    font-size: 24px;
}

.box-front p{
    font-family: var(--ff-paragraph);
    text-align: center;
    font-size: 15px;
}

.box-front.none{
    display: none;
}

.box-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 300px;
    height: 468px;

    color: var(--font-color-tt-paragraph);

}

.box-back h1{
    font-family: var(--ff-title);
    text-align: center;
    font-size: 24px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.box-back p{
    font-family: var(--ff-message);
    font-size: 24px;
    text-align: center;

    padding: 10px;

    background: #E4EDF1;

    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}

.box-back button{
    background: #FF9500;
    border-radius: 4px;
    padding: 16px;

    border: none;

    font-family: var(--ff-paragraph);
    color: #FFFFFF;
    font-weight: 700;
}